body {
    background-color: rgba(65, 21, 4, 0.58);
}
body {
    margin: 0;
}
body {
    text-align: center;
}
img {
    width: 500;
}
/* nav ul li {
    align-content: center;
} */ */
img {
    border: 10px solid blue;
}