body {
    background-color: rgba(34, 69, 117, 0.356);
}
body {
    margin: 0;
}
body {
    text-align: center;
}
img {
    width: 500;
}
/* nav ul li {
    align-content: center;
} */ */
img {
    border: 10px solid blue;
}